# Environnement virtuel
venv/
.env

# Cache Python
__pycache__/
*.py[cod]
*$py.class

# VS Code
.vscode/

# Fichiers système
.DS_Store
Thumbs.db

# Données volumineuses
*.tif
*.tiff
*.gpkg
*.zip
*.7z
*.rar

# Logs
*.log

# Pytest
.pytest_cache/

# Distribution
build/
dist/
*.egg-info/